{% extends 'base.html' %}

{% block title %}
    用户注册
{% endblock %}


{% block body_attribs %}
    hold-transition skin-blue layout-top-nav register-page
{% endblock %}

{% block content_header %}
{% endblock %}

{% block content %}
    <div class="register-box">
{#        消息框#}
        {% for message in get_flashed_messages() %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <i class="icon fa fa-check"></i> {{ message }}
            </div>
        {% endfor %}

        <div class="register-box-body">
            <p class="register-box-msg">用户注册</p>

            <form action="{{ url_for('.register') }}" method="post">

                {% import "bootstrap/wtf.html" as wtf %}

                {{ form.hidden_tag() }}

                {{ wtf.quick_form(form, button_map={'submit':'primary btn-flat'}) }}

            </form>

            <p style="margin-top: 15px">
                <a href="#" >忘记密码</a><br>
            </p>
            <p style="margin-top: 15px">
                <a href="{{ url_for('.login') }}" >登录</a>
            </p>
        </div>
    </div>
{% endblock %}
