{% extends "admin/base.html" %}

{% block title %}
Admin
{% endblock %}

{% block content_header_title %}
Admin
{% endblock %}

{% block content_header_description %}
hello admin
{% endblock %}

{% block content %}
Hello world<br>
{% endblock %}

{% block script_doc_ready %}
    {{ super() }}
{#    TODO fix drop down active #}
    function active_dropdown(nav_dropdown_active) {
        if (typeof nav_dropdown_active === 'number') {
            $("#navbar-user").find("> ul > li").each(function (i) {
                if (i === nav_dropdown_active) {
                    $(this).addClass('active');
                    $(this).children('a').html(function(i, oldHtml) {
                        return oldHtml + '<span class="sr-only">(current)</span>'
                    })
                } else {
                    $(this).removeClass('active')
                }
            });
        }
    }
    active_nav(2)
{% endblock %}