{% extends "user/base.html" %}

{% block title %}
    我的知识产权
{% endblock %}

{% block content_header_title %}
    我的知识产权
{% endblock %}

{% block content_header_description %}
    hello files admin
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3>文件列表</h3>
                </div>
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example2" class="table table-bordered table-striped  dataTable" role="grid"
                                       aria-describedby="example2_info" style="word-wrap:break-word;word-break:break-all">
                                    <!-- 标题行 -->
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1" aria-sort="ascending"
                                                aria-label="文件Hash: activate to sort column descending">
                                                文件Hash
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1" aria-label="文件名: activate to sort column ascending">
                                                名称
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1" aria-label="文件描述: activate to sort column ascending">
                                                描述
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1" aria-label="上传时间: activate to sort column ascending">
                                                上传时间
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1" aria-label="售出: activate to sort column ascending">
                                                售出
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1" aria-label="售价: activate to sort column ascending">
                                                售价
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1" aria-label="区块链tx: activate to sort column ascending">
                                                区块链tx
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1" aria-label="状态: activate to sort column ascending">
                                                状态
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1" aria-label="操作: activate to sort column ascending">
                                                操作
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for file in files %}
                                        <tr role="row" class="{{ 'odd' if loop.index0 % 2 == 0 else 'even'}}">
                                            <td class="col-md-3"><a href="{{ url_for('showcase.show_file', hash=file.hash) }}"> {{ file.hash }}</a></td>
                                            <td>{{ file.filename }}</td>
                                            <td>{{ file.description }}</td>
                                            <td>{{ file.time }}</td>
                                            <td>{{ file.for_sell }}</td>
                                            <td>{{ file.price }}</td>
                                            <td class="col-md-3"><a href="{{ url_for('ethereum.transaction', tx_hash=file.txhash) }}"> {{ file.txhash }}</a></td>
                                            <td>
                                            {% if file.is_confirmed %}
                                                <span class="text-green">已确认({{ file.confirm_num }})</span>
                                            {% elif file.confirm_num is not none %}
                                                <span class="text-blue">确认中({{ file.confirm_num }})</span>
                                            {% else %}
                                                <span class="text-yellow">等待确认中</span>
                                            {% endif %}
                                            </td>
                                            <td>
                                                <div style="margin: auto">
                                                    <button name="authorize" type="submit" class="btn btn-primary btn-sm {{ 'disabled' if not file.is_confirmed }}">授权</button>
                                                    <button name="transfer" type="submit" class="btn btn-primary btn-sm {{ 'disabled' if not file.is_confirmed }}" style="margin-left: 5px">转让</button>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script_doc_ready %}
{#    nav_dropdown_active = 1#}
    {{ super() }}
    active_nav(2)
    active_dropdown(1)
{% endblock %}