{% extends "admin/base.html" %}

{% block title %}
授权管理
{% endblock %}

{% block content_header_title %}
授权管理
{% endblock %}

{% block content_header_description %}
hello authorizations admin
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3>授权列表</h3>
                </div>
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example2" class="table table-bordered table-striped dataTable" role="grid"
                                       aria-describedby="example2_info" style="word-wrap:break-word;word-break:break-all">
                                    <!-- 标题行 -->
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1" aria-sort="ascending"
                                                aria-label="授权编号: activate to sort column descending">
                                                授权编号
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1" aria-label="文件hash: activate to sort column ascending">
                                                文件hash
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1" aria-label="授权者: activate to sort column ascending">
                                                授权者
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1" aria-label="被授予者: activate to sort column ascending">
                                                被授予者
                                            </th>
                                           <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1" aria-label="授权时间: activate to sort column ascending">
                                                授权时间
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1" aria-label="区块链txhash: activate to sort column ascending">
                                                区块链txhash
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1" aria-label="状态: activate to sort column ascending">
                                                状态
                                            </th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                        {% for authorization in authorizations %}
                                        <tr role="row" class="{{ 'odd' if loop.index0 % 2 == 0 else 'even'}}">
                                            <td>{{ authorization.id }}</td>
                                            <td class="col-md-3"><a href="{{ url_for('showcase.show_file', hash=authorization.file_hash) }}"> {{ authorization.file_hash }}</a></td>
                                            <td>{{ authorization.authorizer_username }}</td>
                                            <td>{{ authorization.authorized_username }}</td>
                                            <td>{{ authorization.time }}</td>
                                            <td class="col-md-3"><a href="{{ url_for('ethereum.transaction', tx_hash=authorization.txhash) }}"> {{ authorization.txhash }}</a></td>
                                            <td>
                                            {% if authorization.is_confirmed %}
                                                <span class="text-green">已确认({{ authorization.confirm_num }})</span>
                                            {% elif authorization.confirm_num is not none %}
                                                <span class="text-blue">确认中({{ authorization.confirm_num }})</span>
                                            {% else %}
                                                <span class="text-yellow">等待确认中</span>
                                            {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script_doc_ready %}
    {{ super() }}
    active_dropdown(3)
{% endblock %}