{% extends "base.html" %}

{% block title %}请求错误{% endblock %}
{% block content_header_title %}请求错误{% endblock %}

{% block levels %}
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">400 error</li>
{% endblock %}

{% block content %}
      <div class="error-page">
        <h2 class="headline text-yellow"> 400</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i>请求错误</h3>

          <p>
              {{ e.description }}
          </p>
            <p>
                <a href="javascript:history.back();">返回上一页</a>.
            </p>

{#          <form class="search-form">#}
{#            <div class="input-group">#}
{#              <input type="text" name="search" class="form-control" placeholder="Search">#}
{##}
{#              <div class="input-group-btn">#}
{#                <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>#}
{#                </button>#}
{#              </div>#}
{#            </div>#}
{#            <!-- /.input-group -->#}
{#          </form>#}
        </div>
        <!-- /.error-content -->
      </div>
{% endblock %}